body {
    font-family: Georgia;
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
    overflow: auto; /* Ajoute une barre de défilement lorsque le contenu dépasse les dimensions de la fenêtre */
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

nav {
    background-color: #666;
    padding: 5px 0px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
}

nav a:hover {
    background-color: #999;
}

section {
    padding: 5px 5px 5px 5px;
    overflow: auto; /* Ajoute une barre de défilement lorsque  le contenu dépasse les dimensions de la fenêtre */
    text-align: center;
    min-height: calc(100vh - 160px);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 0px 0px 0px 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 60px;
}

.list {
    margin-top: 5px;
    margin-left: 10px;
    list-style-type: none; /* Supprime les puces des listes */
    text-align: left; /* Aligne la liste à gauche */
}

.list-detail {
    padding: 10px 5px 5px 5px;
    margin-top: 1px;
    margin-left: 1px;
    list-style-type: none; /* Supprime les puces des listes */
    text-align: left; /* Aligne la liste à gauche */
}

.child {
    margin-top: 5px;
    text-align: left; /* Aligne la liste à gauche */
}

.lien {
    text-decoration: none;
    color: black;
}

.special-li {
    padding: 10px 5px 5px 5px;
    margin-top: 0;
    list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.container1 {
  margin-top: 20px;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container2 {  margin-top: 40px;  padding-left: 10px;}
.container3 {  margin-top: 100px;  padding-left: 10px;} 
.container4 {  margin-top: 250px;  padding-left: 10px;}
.container5 {  margin-top: 500px;  padding-left: 10px;}

.generation {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.label {
   color:#999;
}

.container1 .male + .female {margin-top: 20px}
.container1 .female + .male {margin-top: 60px}
.container2 .male + .female {margin-top: 100px}
.container2 .female + .male {margin-top: 110px}
.container3 .male + .female {margin-top: 250px}
.container3 .female + .male {margin-top: 250px}
.container4 .male + .female {margin-top: 500px}

.container {
    padding: 10px 5px 5px 5px;
    font-size: 15px; /* Taille du texte */
  }

.personne {
    margin-top: 70px;
    border-radius: 5px; /* Bordures arrondies */
    width: 180px;
    min-height: 50px;
    height: auto;
    text-align: center;
    flex-direction: column;
    align-items: flex-start; 
    font-size: 15px; /* Taille du texte */
    font-family: Georgia;
}

.parent {
    padding: 20px 5px 5px 5px;
    margin-top: 30px;
    width: 180px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.grandparent {
    padding: 10px 5px 5px 5px;
    margin-top: 5px;
    text-align: center;
    width: 200px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.enfant {
    padding: 5px 5px 5px 5px;
    width: 180px;
    margin-top: 5px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.grandenfant {
    padding: 5px 5px 5px 5px;
    width: 180px;
    margin-top: 5px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.male, .female {
    min-height: 25px;
    background-color: lightblue; /* Fond gris */
    color: blue; 
    padding: 10px 5px 5px 5px;
    border-radius: 5px; /* Bordures arrondies */
    text-decoration: none;  
    font-size: 12px; /* Taille du texte */
    text-align: center;
 }

.female {
    background-color: lightpink;
    color: red; 
}
  
