body {
    font-family: Georgia;
    padding: 0px 0px 0px 0px; /* haut | droit | bas | gauche */
    margin: 0px 0px 0px 0px;
    background-color: #f2f2f2;
    overflow: auto; /* Ajoute une barre de défilement lorsque le contenu dépasse les dimensions de la fenêtre */
    height: 100%;
}

.soustitre {
    text-align: left;
    background-color: #999;
    color: #fff;
    margin-top: 20px;
    width: 95%;
    font-style: italic;
    font-weight: bold; 
    padding: 5px 0px 5px 30px;
    text-decoration: none;
}

.soustitreArbre {
    text-align: left;
    background-color: #999;
    color: #1a1919;
    margin-top: 20px;
    width: 95%;
    font-weight: bold; 
    padding: 5px 0px 5px 30px;
    text-decoration: none;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 1px 10px 1px;
    height: 40px;
}

nav {
    background-color: #666;
    padding: 5px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
}

nav a:hover {
    background-color: #999;
}

section {
    padding: 0px 0px 0px 0px;
    overflow: auto; /* Ajoute une barre de défilement lorsque  le contenu dépasse les dimensions de la fenêtre */
    text-align: center;
    height: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1px 0px 1px 0px;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 70%;
}

.list {
    display: grid;
    margin-top: 0px;
    padding: 0px 0px 5px 5px;
    margin-left: 5px;
    text-align: left; /* Aligne la liste à gauche */
    list-style-type: none; 
    margin-right: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hommelist femmelist";
    gap: 5px;
    font-size: 80%;
}

.hommelist {
    padding: 5px 0px 5px 0px;
    flex-direction: column;
    align-content: flex-start;
}

.femmelist {
    padding: 5px 0px 5px 0px;
    flex-direction: column;
    align-content: flex-start;
}

.list-detail {
    padding: 2px 0px 0px 5px;
    margin-top: 0px;
    margin-left: 0px;
    list-style-type: none; 
    text-align: left; /* Aligne la liste à gauche */
}

.child {
    margin-top: 5px;
    text-align: left; /* Aligne la liste à gauche */
}

.lien {
    text-decoration: none;
    color: black;
}

.lienM {
    text-decoration: none;
    color: rgb(11, 65, 83);
    margin-top: 0px;
    margin-left: 0px;
    text-align: left; /* Aligne la liste à gauche */
    margin-right: 10px;
}

.lienF {
    text-decoration: none;
    color: #583a3a;
    margin-top: 0px;
    margin-left: 0px;
    text-align: left; /* Aligne la liste à gauche */
    margin-right: 10px;
}

.special-li {
    padding: 10px 5px 5px 5px;
    margin-top: 0;
    list-style-type: none;
    margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.container1 {
  margin-top: 20px;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container2 {  margin-top: 50px;  padding-left: 10px;}
.container3 {  margin-top: 140px;  padding-left: 10px;} 
.container4 {  margin-top: 300px;  padding-left: 10px;}
.container5 {  margin-top: 650px;  padding-left: 10px;}

.generation {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.label {
   color:#999;
   font-style: italic;
}

.labelArbre {
    color:#423d3d;
    font-style: italic;
    padding-left: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 90%;
    text-align: left;
 }

.container1 .male + .female {margin-top: 20px}
.container1 .female + .male {margin-top: 60px}
.container2 .male + .female {margin-top: 125px}
.container2 .female + .male {margin-top: 125px}
.container3 .male + .female {margin-top: 290px}
.container3 .female + .male {margin-top: 290px}
.container4 .male + .female {margin-top: 640px}

.container {
    padding: 10px 5px 5px 5px;
    font-size: 12px; /* Taille du texte */
  }

.personne {
    grid-area: colonne3;
    padding: 5px 5px 5px 5px;
    margin-top: 85px;
    border-radius: 5px; /* Bordures arrondies */
    width: 180px;
    min-height: 50px;
    height: auto;
    flex-direction: column;
    display: flex;
    font-size: 12px; /* Taille du texte */
    font-family: Georgia;
    position: relative;   
}

.parent {
    grid-area: colonne2;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    width: 180px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.personne .female + .male {margin-top: 50px}
.personne .male + .female {margin-top: 50px}
.personne .male + .label {margin-top: 50px}
.personne .female + .label {margin-top: 50px}
.personne .label + .male {margin-top: 30px}
.personne .label + .female {margin-top: 30px}

.grandparent .male + .label {margin-top: 40px}
.grandparent .female + .label {margin-top: 50px}
.grandenfant .male + .female {margin-top: 10px}
.grandenfant .female + .male {margin-top: 10px}
.grandenfant .female + .female {margin-top: 10px}
.grandenfant .male + .male {margin-top: 10px}
.grandenfant .label + .female {margin-top: 45px}
.grandenfant .label + .male {margin-top: 45px}

.enfant .male + .female {margin-top: 20px}
.enfant .female + .male {margin-top: 20px}
.enfant .female + .female {margin-top: 20px}
.enfant .male + .male {margin-top: 20px}
.enfant .label + .female {margin-top: 45px}
.enfant .label + .male {margin-top: 45px}

.parent .male + .female {margin-top: 160px}
.parent .label + .male {margin-top: 45px}
.parent .label + .female {margin-top: 45px}

.grandparent {
    grid-area: colonne1;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    text-align: center;
    width: 200px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.enfant {
    grid-area: colonne4;
    padding: 5px 5px 5px 5px;
    width: 180px;
    margin-top: 15px;
    margin-right: 5px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.grandenfant {
    grid-area: colonne5;
    padding: 5px 5px 5px 5px;
    width: 180px;
    margin-top: 15px;
    margin-right: 5px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.male, .female {
    min-height: 25px;
    background-color: rgb(213, 230, 236); /* Fond gris */
    color: rgb(9, 9, 73); 
    padding: 10px 5px 10px 5px;
    border-radius: 5px; /* Bordures arrondies */
    text-decoration: none;  
    font-size: 12px; /* Taille du texte */
    text-align: center;
 }

.female {
    background-color: rgb(228, 215, 216);
    color: rgb(83, 10, 10); 
}

