:root {
    --color-bleu-reunion: #2F66FF;
    --color-jaune-reunion: #FFFF02;
    --color-rouge-reunion: #F60100;
    --color-font-blanc: #fff;
    --color-primary: #333;
    --color-secondary: #666;
    --color-light: #999;
    --color-green: #a6dabd;
    --color-male: rgb(11, 65, 83);
    --color-female: #583a3a;
    --color-male-bg: rgb(213, 230, 236);
    --color-female-bg: rgb(228, 215, 216);
    --font-size-small: 90%;
    --font-size-very-small: 70%;
    --padding-small: 5px;
    --margin-small: 5px;
}

body {
    font-size: var(--font-size-small);
    padding: 0px 0px 0px 0px; /* haut | droit | bas | gauche */
    margin: 0px 0px 0px 0px;
    overflow: auto; /* Ajoute une barre de défilement lorsque le contenu dépasse les dimensions de la fenêtre */
    height: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}


header {
    background-color: var(--color-primary);
    color: var(--color-font-blanc);
    text-align: center;
    padding: 1px 1px 10px 1px;
    margin: 0px 0px 0px 0px;
    height: 35px;
}

nav {
    color: var(--color-font-blanc);
    background-color: var(--color-secondary);
    padding: 5px;
    text-align: center;
}

nav a {
    color: var(--color-font-blanc);
    text-decoration: none;
    padding: 5px 5px;
}

nav a:hover {
    background-color: var(--color-light);
}

section {
    padding: 0px 0px 0px 0px;
    overflow: auto; /* Ajoute une barre de défilement lorsque  le contenu dépasse les dimensions de la fenêtre */
    text-align: center;
    height: 100%;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary); 
    padding: 1px 0px 1px 0px;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: var(--font-size-very-small);
    margin-top: auto;
}

.smaller{
    font-size: smaller;
}

.soustitre, .soustitreM, .soustitreF, .soustitreArbre  {
    text-align: center;
    color: var(--color-secondary);
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90%;
    font-style: italic;
    font-weight: bold; 
    padding: 5px 5px 5px 20px;
    text-decoration: none;
}

.soustitre {
    background-color: var(--color-green);
}

.soustitreM {
    background-color: var(--color-male-bg);
}

.soustitreF {
    background-color: var(--color-female-bg);
}

.soustitreArbre {
    background-color: var(--color-green);
    color : var(--color-primary);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 30px;
    text-decoration: none;
}

.list {
    display: grid;
    margin : 5px 0px 5px 5px;
    margin-top: 5px;
    padding: 0px 0px 0px 0px;
    margin-left: 5px;
    text-align: left; 
    list-style-type: none; 
    margin-right: 5%;
    grid-template-columns: auto auto;
    gap: 5px;
    font-size: var(--font-size-small);
}

.homlist {
    padding: 5px 0px 0px 10px;
    grid-column: 1;
}

.femlist {
    padding: 5px 0px 0px 0px;
    grid-column: 2;
}

.list-detail {
    padding: 2px 0px 0px 5px;
    margin-top: 0px;
    margin-left: 0px;
    list-style-type: none; 
    text-align: left; 
}

.child {
    margin-top: 5px;
    text-align: left; 
}

.lienM, .lienF{
    text-decoration: none;
    margin-top: 0px;
    margin-left: 0px;
    text-align: left; 
    margin-right: 10px;
}

.lienF {
    color: var(--color-female);
}

.lienM {
    color: var(--color-male);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "colonne1 colonne2 colonne3 colonne4 colonne5" ;
  gap: 10px
}

.container1 {
  margin-top: 20px;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container2, .container3, .container4, .container5 {
    padding-left: 10px;
}

.container2 { margin-top: 50px; }
.container3 { margin-top: 140px; }
.container4 { margin-top: 300px; }
.container5 { margin-top: 650px; }

.generation {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.label {
   margin : 0px; 
   padding: 0px;
   color:var(--color-light);
   font-style: italic;
}

.labelArbre {
    color:var(--color-green);
    text-decoration: none;
    font-style: italic;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: var(--font-size-small);
    text-align: left;
    font-weight: bold;
 }

.container1 .male + .female {margin-top: 20px}
.container1 .female + .male {margin-top: 60px}
.container2 .male + .female {margin-top: 125px}
.container2 .female + .male {margin-top: 125px}
.container3 .male + .female {margin-top: 290px}
.container3 .female + .male {margin-top: 290px}
.container4 .male + .female {margin-top: 640px}

.container {
    padding: 10px 5px 5px 5px;
  }

/* Conteneur de la personne */
.personne {
    padding: 5px;
    display: flex;
    grid-area: colonne3;
    margin-bottom: 1%; 
    margin-top: 35%; 
    height: auto;
    flex-direction: column;
    box-sizing: border-box; 
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.parent, .grandparent, .enfant, .petitenfant  {
    display: flex;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.parent {
    grid-area: colonne2;
    margin-top: 10%; 
}

.grandparent {
    margin-top: 10%; 
    margin-left: 1%; 
    grid-area: colonne1;
}

.enfant {
    margin-top: 10%; 
    grid-area: colonne4;
}

.petitenfant {
    margin-top: 10%; 
    grid-area: colonne5;
    margin-right: 1%; 
}

.petitenfant .parent-info {
    font-size: var(--font-size-very-small);
    font-style: italic;
    margin: 0;
    padding:0;
}

.male, .female {
    min-height: 30px;
    background-color: var(--color-male-bg); 
    color: var(--color-male);
    border-radius: 5px; 
    text-decoration: none;  
    text-align: center;
    display: flex;
 }

.female {
    background-color: var(--color-female-bg);
    color: var(--color-female);
}

.personne .female + .male {margin-top: 30%}
.personne .male + .female {margin-top: 30%}
.personne .male + .label {margin-top: 20%}
.personne .female + .label {margin-top: 20%}
.personne .label + .male {margin-top: 20%}
.personne .label + .female {margin-top: 20%}
.grandparent .male + .female {margin-top: 10%}
.grandparent .female + .label {margin-top: 20%}
.enfant .male + .female {margin-top: 10%}
.enfant .female + .male {margin-top: 5%}
.enfant .female + .female {margin-top: 5%}
.enfant .male + .male {margin-top: 5%}
.petitenfant .male + .female {margin-top: 2%}
.petitenfant .female + .male {margin-top: 2%}
.petitenfant .female + .female {margin-top: 2%}
.petitenfant .male + .male {margin-top: 2%}
.petitenfant .label + .female {margin-top: 10%}
.petitenfant .label + .male {margin-top: 10%}
.parent .male + .female {margin-top: 70%}
.parent .label + .male {margin-top: 25%}
.parent .label + .female {margin-top: 25%}

.maleLink, .femaleLink {
    font-weight: bold;
    text-decoration: none;
}

.maleLink {
    color: var(--color-male);
}

.femaleLink {
    color: var(--color-female);
}

/* Styles pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
    .personne, .parent, .grandparent, .enfant, .petitenfant {
        padding: 8px;
        min-width: 120px;
        min-height: 40px;
    }
}

/* Styles pour les petits écrans (mobiles) */
@media (max-width: 480px) {
    .personne, .parent, .grandparent, .enfant, .petitenfant {
        padding: 5px;
        min-width: 100px;
        min-height: 30px;
        font-size: 0.8rem;
        line-height: 1.4; /* Ajuste la taille de la police pour les petits écrans */
    }
}