.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding : 0px;
  margin: 0px;  
}

.personConteneur {
  padding: 1px;
  margin : 1px;
  grid-column: 1; 
  height: 60px;
  width: 180px;
}

.generation1, .generation2, .generation3, .generation4, .generation5 {
  padding: 1px;
  height: 60px;
  width: 200px;
}

.generation1 {
  grid-column: 2; 
  margin-top : 100px;
}

.generation2 {
  grid-column: 3; 
  margin-top : 150px;
}

.generation3 {
  grid-column: 4; 
  margin-top : 100px;

}

.generation4 {
  grid-column: 5; 
  margin-top : 50px;
}

.generation5 {
  grid-column: 6;
  margin-top : 15px;
}

.generation5 .male + .female {margin-top: 40px}
.generation5 .female + .male {margin-top: 80px}

.generation4 .male:first-child { margin-top: 60px}
.generation4 .male + .female {margin-top: 160px}
.generation5 .female + .male {margin-top: 160px}

.generation3 .male + .female {margin-top: 360px}
.generation3 .female + .male {margin-top: 360px}

.generation2 .male + .female {margin-top: 760px}
.generation2 .female + .male {margin-top: 760px}

.generation1 .male + .female {margin-top: 1560px}

.generation1::before, .generation2::before, .generation3::before, .generation4::before, .generation5::before {
  content: '';
  position: absolute;
  left: 50%; /* Aligner le trait au centre de la case */
  transform: translateX(-50%); /* Centrer horizontalement */
  width: 3px;
  background-color: var(--color-green);
  height: 0;
  top: 100%; /* Aligner le trait au milieu de la case */
}

.male::before {
  bottom: 50%; /* Place le trait au-dessus de la case Male */
  height: 25px; /* Longueur du trait jusqu'à la case Female */
}


/* Styles pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
body {
  font-size: var(--font-size-small); /* Ajuste la taille de la police */
}
.parent, .grandparent, .generation3, .generation4, .generation5 {
  min-height: 30px;
  min-width: 10px;
}
}

/* Styles pour les petits écrans (mobiles) */
@media (max-width: 480px) {
 .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Passe à deux colonnes */
 }

 .parent, .grandparent, .generation3, .generation4, .generation5 {
  margin-top : 10px;
  min-height: 20px;
  width: 120px;
  font-size: 90%;
  margin : 2%;  
}

  .parent.male + .parent.female{margin-top : 170px;}
  .grandparent.male + .grandparent.female{margin-top : 60px}
  .grandparent.female + .grandparent.male{margin-top : 60px;}
  .personne + .personne {margin-top : 50px}
  .personne + .label {margin-top : 30px}
  .label + .personne {margin-top : 30px}
  .label + .parent {margin-top : 40px}

} 


