.grid-containerArbre {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding : 0;
    margin: 0;  
    }
  
  .containerArbre1, .containerArbre2, .containerArbre3, .containerArbre4, .containerArbre5, .containerArbre6 {
     padding: 5px;
     flex-direction: column;
     align-content: flex-start;
     display: flex;
     box-sizing: border-box; 
     text-overflow: ellipsis;
     white-space: nowrap;  
     min-height: 60px;
     min-width: 50px; 
  }
  
  .containerArbre1 {grid:1}
  .containerArbre2 {grid:2}
  .containerArbre3 {grid:3}
  .containerArbre4 {grid:4}
  .containerArbre5 {grid:5}
  .containerArbre6 {grid:6}
  
 
  .containerArbre1 .male:first-child { margin-top: 20px}
  .containerArbre1 .male + .female {margin-top: 40px}
  .containerArbre1 .female + .male {margin-top: 80px}
 
  .containerArbre2 .male:first-child { margin-top: 60px}
  .containerArbre2 .male + .female {margin-top: 160px}
  .containerArbre2 .female + .male {margin-top: 160px}
 
  .containerArbre3 .male:first-child { margin-top: 160px}
  .containerArbre3 .male + .female {margin-top: 360px}
  .containerArbre3 .female + .male {margin-top: 360px}
 
  .containerArbre4 .male:first-child { margin-top: 360px}
  .containerArbre4 .male + .female {margin-top: 760px}
  .containerArbre4 .female + .male {margin-top: 760px}
 
  .containerArbre5 .male:first-child { margin-top: 760px}
  .containerArbre5 .male + .female {margin-top: 1560px}
 
  .containerArbre6 .female:first-child  { margin-top: 1540px}
  .containerArbre6 .male:first-child  { margin-top: 1540px}
 
.male, .female {
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    min-height: 40px;
    z-index: 1; /* Assure que l'homme est au-dessus du trait */
        display: flex;
        position: relative;
}
 
.containerArbre1 .female::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 50%; /* Centre le trait verticalement */
    transform: translateX(-50%);
    width: 3px; /* Épaisseur du trait */
    height: 100%; /* Hauteur du trait couvrant toute la hauteur du couple */
     background-color: var(--color-green);
} 
.containerArbre1 .male::after {
    content: '';
    position: absolute;
    top: 60px; /* Place le trait au milieu, verticalement par rapport à l'homme */
    left: 50%; /* Place le trait juste à droite de l'homme */
    transform: translateY(-50%);
    width: 180px; /* Longueur du trait horizontal */
    height: 3px; /* Épaisseur du trait */
    background-color: var(--color-green); /* Couleur du trait */
}

.containerArbre2 .female::before {
    content: '';
    position: absolute;
    top: -160px;
    left: 50%; /* Centre le trait verticalement */
    transform: translateX(-50%);
    width: 3px; /* Épaisseur du trait */
    height: 160px; /* Hauteur du trait couvrant toute la hauteur du couple */
    background-color: var(--color-green);
}
.containerArbre2 .male::after {
    content: '';
    position: absolute;
    top: 120px; /* Place le trait au milieu, verticalement par rapport à l'homme */
    left: 50%; /* Place le trait juste à droite de l'homme */
    transform: translateY(-50%);
    width: 180px; /* Longueur du trait horizontal */
    height: 3px; /* Épaisseur du trait */
    background-color: var(--color-green); /* Couleur du trait */
}

.containerArbre3 .female::before {
    content: '';
    position: absolute;
    top: -360px;
    left: 50%; /* Centre le trait verticalement */
    transform: translateX(-50%);
    width: 3px; /* Épaisseur du trait */
    height: 360px; /* Hauteur du trait couvrant toute la hauteur du couple */
    background-color: var(--color-green);
}

.containerArbre3 .male::after {
    content: '';
    position: absolute;
    top: 220px; /* Place le trait au milieu, verticalement par rapport à l'homme */
    left: 50%; /* Place le trait juste à droite de l'homme */
    transform: translateY(-50%);
    width: 180px; /* Longueur du trait horizontal */
    height: 3px; /* Épaisseur du trait */
    background-color: var(--color-green); /* Couleur du trait */
}

.containerArbre4 .female::before {
    content: '';
    position: absolute;
    top: -760px;
    left: 50%; /* Centre le trait verticalement */
    transform: translateX(-50%);
    width: 3px; /* Épaisseur du trait */
    height: 760px; /* Hauteur du trait couvrant toute la hauteur du couple */
    background-color: var(--color-green);
}

.containerArbre4 .male::after {
    content: '';
    position: absolute;
    top: 420px; /* Place le trait au milieu, verticalement par rapport à l'homme */
    left: 50%; /* Place le trait juste à droite de l'homme */
    transform: translateY(-50%);
    width: 180px; /* Longueur du trait horizontal */
    height: 3px; /* Épaisseur du trait */
    background-color: var(--color-green); /* Couleur du trait */
}

.containerArbre5 .female::before {
    content: '';
    position: absolute;
    top: -1560px;
    left: 50%; /* Centre le trait verticalement */
    transform: translateX(-50%);
    width: 3px; /* Épaisseur du trait */
    height: 1560px; /* Hauteur du trait couvrant toute la hauteur du couple */
    background-color: var(--color-green);
}

.containerArbre5 .male::after {
    content: '';
    position: absolute;
    top: 800px; /* Place le trait au milieu, verticalement par rapport à l'homme */
    left: 50%; /* Place le trait juste à droite de l'homme */
    transform: translateY(-50%);
    width: 180px; /* Longueur du trait horizontal */
    height: 3px; /* Épaisseur du trait */
    background-color: var(--color-green); /* Couleur du trait */
}

  .labelArbre {
      color:var(--color-green);
      text-decoration: none;
      font-style: italic;
      margin-bottom: 2%;
      margin: 1%;
      text-align: left;
      font-size: 85%;
   }
  
  .soustitreArbre {
      text-align: left;
      background-color: var(--color-light);
      color: var(--color-green);
      margin-top: 30px;
      margin-left: 1%;
      width: 95%;
      font-style: italic;
      font-weight: bold; 
      padding: 5px 5px 5px 20px;
      text-decoration: none;
      border-radius: 5px; 
  }
  
  /* Styles pour les écrans de taille moyenne (tablettes) */
  @media (max-width: 768px) {
      .grid-containerArbre {
          grid-template-columns: repeat(2, 1fr); /* Passe à deux colonnes */
      }
  
      .containerArbre1, .containerArbre2, .containerArbre3, .containerArbre4, .containerArbre5 {
          padding-left: 10px;
          margin-top: 20px;
      }
      .soustitreArbre {
          margin-bottom: 2%;
          margin-left: 2%;
          padding : 2%;
          text-align: left;
          border-radius: 5px; 
          width: 85%;
      }
  }
  
  /* Styles pour les petits écrans (mobiles) */
  @media (max-width: 480px) {
      .grid-containerArbre {
          grid-template-columns: repeat(2, 1fr); /* Passe à deux colonnes */
      }
  
      .containerArbre1, .containerArbre2, .containerArbre3, .containerArbre4, .containerArbre5 {
          padding-left: 10px;
          margin-top: 20px;
      }
      /* Cacher certains éléments si nécessaire */
      .some-element {
          display: none; /* Exemple : cacher certains éléments */
      }
      .soustitreArbre {
          margin-bottom: 2%;
          margin-left: 2%;
          padding : 2%;
          text-align: left;
          border-radius: 5px; 
          width: 90%;
      }
      .labelArbre {
          color:var(--color-green);
          text-decoration: none;
          font-style: italic;
          margin-bottom: 2%;
          margin: 1%;
          margin-left: 2%;
          text-align: left;
          font-size: 90%;
       }
  }
  