.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "colonne1 colonne2 colonne3 colonne4 colonne5" ;
    padding : 0;
    margin: 0;  
}

.personne {
  padding: 5px;
  display: flex;
  grid-area: colonne3;
  margin-top: 100px; 
  height: auto;
  flex-direction: column;
  box-sizing: border-box; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.parent, .grandparent, .enfant, .petitenfant {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1%;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 60px
}

.parent {
  grid-area: colonne2;
  margin-top: 20px; 
}

.grandparent {
  margin-top: 20px; 
  margin-left: 2%; 
  grid-area: colonne1;
}

.enfant {
  margin-top: 20px; 
  grid-area: colonne4;

}

.petitenfant {
  margin-top: 20px; 
  grid-area: colonne5;
  margin-right: 2%;
  font-size:  var(--font-size-small);
}

.petitenfant .parent-info {
  font-size: var(--font-size-very-small);
  font-style: italic;
  margin: 0;
}

.grandparent .female::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 50%; /* Centre le trait verticalement */
    transform: translateX(-50%);
    width: 3px; /* Épaisseur du trait */
    height: 50px; /* Hauteur du trait couvrant toute la hauteur du couple */
    background-color: var(--color-green);
} 
.grandparent .male::after {
    content: '';
    position: absolute;
    top: 85px; /* Place le trait au milieu, verticalement par rapport à l'homme */
    left: 50%; /* Place le trait juste à droite de l'homme */
    transform: translateY(-50%);
    width: 185px; /* Longueur du trait horizontal */
    height: 3px; /* Épaisseur du trait */
    background-color: var(--color-green); /* Couleur du trait */
}
.parent .female::before {
    content: '';
    position: absolute;
    top: -210px;
    left: 50%; /* Centre le trait verticalement */
    transform: translateX(-50%);
    width: 3px; /* Épaisseur du trait */
    height: 210px; /* Hauteur du trait couvrant toute la hauteur du couple */
    background-color: var(--color-green);
} 
.parent .male::after {
    content: '';
    position: absolute;
    top: 165px; /* Place le trait au milieu, verticalement par rapport à l'homme */
    left: 50%; /* Place le trait juste à droite de l'homme */
    transform: translateY(-50%);
    width: 195px; /* Longueur du trait horizontal */
    height: 3px; /* Épaisseur du trait */
    background-color: var(--color-green); /* Couleur du trait */
}
.grandparent.male, .grandparent.female,.parent.male, .parent.female {
    z-index: 1; 
    display: flex;
    position: relative;
} 

.label {
margin : 0; 
padding : 0; 
color:var(--color-light);
font-style: italic;
}

.personne + .label {margin-top : 60px}
.label + .personne {margin-top : 60px}

.label + .parent {margin-top: 80px}
.parent.male + .parent.female{margin-top : 210px;}

.grandparent.male + .grandparent.female{margin-top : 50px}
.grandparent.female + .grandparent.male{margin-top : 100px;}

/* Conteneur global pour tous les enfants et petits-enfants */
.global-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les groupes */
  }
  
  /* Conteneur pour chaque enfant et ses petits-enfants */
  .enfant-container {
    display: flex;
    flex-wrap: wrap; /* Pour permettre aux petits-enfants de passer à la ligne suivante */
    align-items: flex-start;
  }
  
  /* Affichage des membres */
  .membre-container {
    margin-right: 20px; /* Espacement entre l'enfant et ses petits-enfants */
    text-align: center;
  }



/* Styles pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
  body {
      font-size: var(--font-size-small); /* Ajuste la taille de la police */
  }
  .parent, .grandparent, .enfant, .petitenfant {
    min-height: 20px;
  }
}

/* Styles pour les petits écrans (mobiles) */
@media (max-width: 480px) {
  body {
      font-size: 0.5rem; /* Ajuste la taille de la police pour les petits écrans */
  }
  .parent, .grandparent, .enfant, .petitenfant {
    min-height: 20px;
  }
}
