.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "colonne1 colonne2 colonne3 colonne4 colonne5" ;
}

.label {
   margin : 1%; 
   padding : 1%; 
   color:var(--color-light);
   font-style: italic;
}

.personne {
    padding: 5px;
    display: flex;
    grid-area: colonne3;
    margin-bottom: 1%; 
    margin-top: 35%; 
    height: auto;
    flex-direction: column;
    box-sizing: border-box; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.parent, .grandparent, .enfant, .petitenfant  {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.parent {
    grid-area: colonne2;
    margin-top: 10%; 
}

.grandparent {
    margin-top: 10%; 
    margin-left: 1%; 
    grid-area: colonne1;
}

.enfant {
    margin-top: 10%; 
    grid-area: colonne4;

}

.petitenfant {
    margin-top: 10%; 
    grid-area: colonne5;
    margin-right: 2%;
}

.petitenfant .parent-info {
    font-size: var(--font-size-very-small);
    font-style: italic;
    margin: 0;
}

/* Styles pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
    body {
        font-size: var(--font-size-small); /* Ajuste la taille de la police */
    }
}

/* Styles pour les petits écrans (mobiles) */
@media (max-width: 480px) {
    body {
        font-size: 0.5rem; /* Ajuste la taille de la police pour les petits écrans */
    }
}
