.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left; 
    flex-direction: column;
    align-items: flex-start; 
    flex-wrap: wrap;
    list-style-type: none; 
    padding-left: 1%;
    line-height: 1.2;
}

.homlist, .femlist {
    list-style-type: none; 
    line-height: 2;
    padding-left: 1%;
}

.homlist {
    margin-left: 5%;
    grid-column: 1;
}

.femlist {
    grid-column: 2;
}

.labelFamille {
   margin : 1%; 
   padding : 1%; 
   color:var(--color-light);
   font-style: italic;
}

.lienHommeEnGras, .lienFemmeEnGras, .lienHomme, .lienFemme {
    text-decoration: none;
}

.lienHommeEnGras, .lienFemmeEnGras {
    font-weight: bold;
}

.lienHommeEnGras, .lienHomme {
    color: var(--color-male);
}

.lienFemmeEnGras, .lienFemme {
    color: var(--color-female);
}

.soustitre {
    text-align: center;
    background-color: var(--color-light);
    color: var(--color-green);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    width: 95%;
    font-style: italic;
    font-weight: bold; 
    padding: 5px 5px 5px 20px;
    text-decoration: none;
    border-radius: 5px; 
 }

/* Styles pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
    .soustitre {
        text-align: center;
        background-color: var(--color-light);
        color: var(--color-green);
        margin-top: 10px;
        margin-left: 1%;
        width: 90%;
        font-style: italic;
        font-weight: bold; 
        padding: 5px 5px 5px 20px;
        text-decoration: none;
        border-radius: 5px; 
     }
    .list {
        display: flex;
        margin-right: 0;
        line-height: 1.2;
    }
     .homlist, .femlist {
        align-items: left;
        padding: 1%;
        margin : 1%;
        line-height: 2;

    }
    
    .homlist {
        grid-column: 1;
    }
    
    .femlist {
        grid-column: 2;
    }
  
}

/* Styles pour les petits écrans (mobiles) */
@media (max-width: 480px) {
    .soustitre {
        text-align: center;
        background-color: var(--color-light);
        color: var(--color-green);
        margin-top: 10px;
        margin-left: 1%;
        width: 90%;
        font-style: italic;
        font-weight: bold; 
        padding: 5px 5px 5px 20px;
        text-decoration: none;
        border-radius: 5px; 
     }    

    .list {
        grid-template-columns: 1fr;
        margin-right: 0;
        line-height: 1.2;
    }

    .homlist, .femlist {
        align-items: left;
        line-height: 1.5;
    }
    
    .homlist {
        padding: 1%;
        margin : 1%;
    }
    
    /* Cacher certains éléments si nécessaire */
    .some-element {
        display: none; /* Exemple : cacher certains éléments */
    }
}
