
/* Conteneur pour le formulaire */
.form-container {
    background-color: var(--color-font-blanc);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour donner du relief */
    width: 600px; /* Largeur du formulaire */
}

/* Formulaire avec des champs bien alignés */
form {
    display: grid;
    grid-template-columns: 150px 1fr; /* Deux colonnes : une pour les labels, une pour les inputs */
    grid-gap: 10px; /* Espacement entre les champs */
}

/* Alignement des labels */
label {
    justify-self: end; /* Aligner les labels à droite */
}

/* Appliquer du style aux champs */
input, button {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    width: 100%; /* Les champs occupent toute la largeur de la 2e colonne */
    box-sizing: border-box;
}

/* Style du bouton */
button {
    grid-column: 1 / span 2; /* Le bouton prend toute la largeur */
    background-color: var(--color-green);
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: var(--color-green);
}

/* Style du message */
#message {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-primary);
}
