.listPerson, .listEnfant, .listFratrie, lienFichier{
    display: grid;
    text-align: left; 
    flex-direction: column;
    align-items: flex-start; 
    flex-wrap: wrap;
    list-style-type: none; 
    padding-left: 1%;
    line-height: 1.2;
}

.listEnfant {
    line-height: 1.5;
    font-size: 90%;
}

.listFratrie {
    font-size: 80%;
}

.bannierePersonM, .bannierePersonF {
    text-align: left;
    color: var(--color-secondary);
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
    font-style: italic;
    font-weight: bold; 
    padding: 5px 5px 5px 20px;
}

.lienFichier {
    color:var(--color-secondary);
    font-size: 85%;
    padding-bottom:2%;
    margin: 1%;
    text-align: left;
}

.bannierePersonM {
    background-color: var(--color-male-bg);
}

.bannierePersonF {
    background-color: var(--color-female-bg);
}

.lienPersonHEnGras, .lienPersonFEnGras, .lienPersonH, .lienPersonF {
    text-decoration: none;
}

.lienPersonHEnGras, .lienPersonFEnGras {
    font-weight: bold;
}

.lienPersonHEnGras, .lienPersonH {
    color: var(--color-male);
}

.lienPersonFEnGras, .lienPersonF {
    color: var(--color-female);
}

.affichePerson  {
    text-align: left; 
}

.labelArbrePerso {
    color:var(--color-secondary);
    font-style: italic;
    text-align: left;
    font-size: 90%;
 }
 
 .commentairePersonne{
    color:var(--color-secondary);
    font-style: italic;
    font-size: 80%;
    padding : 1%;
    padding-bottom:2%;
    margin: 1%;
    text-align: left;
 }

/* Styles pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
  
    .listPerson, .listEnfant, .listFratrie {
        grid-template-columns: 1fr; /* Une seule colonne sur petits écrans */
        padding-left: 2%;
        line-height: 1.5;
    }

    .bannierePersonM, .bannierePersonF {
        text-align: center;
        margin-top: 10px;
        width: 100%;
        padding: 5px 5px 5px 20px;
    }
    .lienFichier {
        font-size: 90%;
     }

}

/* Styles pour les petits écrans (mobiles) */
@media (max-width: 480px) {

    .listPerson, .listEnfant, .listFratrie {
        grid-template-columns: 1fr; /* Une seule colonne sur petits écrans */
        padding-left: 2%;
        line-height: 1.5;
    }

    .bannierePersonM, .bannierePersonF {
        text-align: center;
        font-size: 0.8rem; /* Réduit la taille des sous-titres */
        padding: 5px 5px 5px 10px;
    }
    .lienFichier {
        font-size: 90%;
     }

}
