:root {
    --color-bleu-reunion: #2F66FF;
    --color-jaune-reunion: #FFFF02;
    --color-rouge-reunion: #F60100;
    --color-font-blanc: #ECE5DD;
    --color-primary: #075E54;
    --color-secondary: #128C7E;
    --color-light: #999;
    --color-green: #075E54;
    --color-male: rgb(32, 101, 124);
    --color-female: #724162;
    --color-male-bg: rgb(185, 219, 231);
    --color-female-bg: rgb(230, 176, 176);
    --font-size-small: 90%;
    --font-size-very-small: 70%;
    --padding-small: 5px;
    --margin-small: 5px;
}

body {
    padding: 0px; /* haut | droit | bas | gauche */
    margin: 0px;
    overflow: auto; 
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-font-blanc);
}

header {
    background-color: var(--color-primary);
    color: var(--color-font-blanc);
    text-align: center;
    font-size: large;
}

nav {
    color: var(--color-font-blanc);
    background-color: var(--color-secondary);
    padding: 0.5%;
    text-align: center;
    font-size: large;
    border-radius: 5px;

}

nav a {
    color: var(--color-font-blanc);
    border-radius: 5px;
    padding: 1%;
    
}

nav a.actif {
    background-color: var(--color-primary);
    font-weight: bold; 
    border-radius: 5px; 
}

nav a:hover {
    background-color: var(--color-primary);
    border-radius: 5px; 
}

a {
    text-decoration: none;
    border-radius: 5px; 
}

section {
    padding: 0px 0px 0px 0px;
    overflow: auto; /* Ajoute une barre de défilement lorsque  le contenu dépasse les dimensions de la fenêtre */
    text-align: center;
    height: 100%;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-font-blanc); 
    padding: 1px;
    text-align: center;
    width: 100%;
    height: 5%;
    font-size: var(--font-size-small);
    margin-top: 2%;
}

.male, .female {
    min-height: 30px;
    background-color: var(--color-male-bg); 
    color: var(--color-male);
    border-radius: 5px; 
    text-decoration: none;  
    display: flex;
    padding : 1%;
    margin : 1%;
 }

.female {
    background-color: var(--color-female-bg);
    color: var(--color-female);
}

/* Styles pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
    body {
        font-size: var(--font-size-small); /* Ajuste la taille de la police */
    }
}

/* Styles pour les petits écrans (mobiles) */
@media (max-width: 480px) {
    body {
        font-size: 0.5rem; /* Ajuste la taille de la police pour les petits écrans */
    }
}
